<div class="text-center">
    <div class="container mb-5">
        <div class="empty-space h35-xs h100-md"></div>
        <div *ngIf="!emptyCart" class="row">
            <div class="col-md-7">
                <ng-template ngFor let-product [ngForOf]="products" let-i="index">
                    <div class="cart-cover text-center">
                        <div class="row flex-sm nopadding">
                            <div class="col-md-6 flex-item-2">
                                <a><img width="250" src="{{product.image}}" alt=""></a>
                            </div>
                            <div class="col-md-6 flex-item-1">
                                <article class="bg-text">
                                    <h4>{{product.title}}</h4>
                                    <a class="price">${{product.price}}</a>
                                    <p>{{product.details}}</p>
                                    <div (click)="deleteProduct(product._id)" class="btn-wrap"><a class="btn-1">
                                            <span>delete product</span></a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div class="col-md-5 text-center cart-price">
                <article>
                    <a><img src={{priceImg}} alt=""></a>
                    <h6 class="cart-totalPrice">Total:</h6>
                    <a class="price">${{total}}</a>
                    <p>checkout to order</p>
                </article>
                <div class="btn-wrap text-center">
                    <a class="btn-2" (click)="checkout()"><span>porceed to checkout</span></a>
                </div>
            </div>
        </div>

        <div *ngIf="emptyCart">
            <div class="cart-cover text-center">
                <div class="row flex-sm nopadding">
                    <div class="col-md-3 flex-item-2">
                        <a><img src={{productImg}} alt=""></a>
                    </div>
                    <div class="col-md-9 flex-item-1">
                        <article class="bg-text">
                            <h4 class="warning-header">Shopping Cart is currently empty</h4>
                            <p>Add items to your cart and view them here before you checkout.</p>
                            <div class="btn-wrap"><a class="btn-1" (click)="goHome()"><span>Continue Shopping</span></a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>