<div class="text-light all">
  <div class="container">
    <div class="empty-space h35-xs h100-md"></div>
    <!-- about section -->
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <article class="bg-text">
            <h2><span>A</span>BOUT ART-REAL PASSION</h2>
            <p>
              A life spent making mistakes is not only more honorable, but more
              useful than a life spent doing nothing.
            </p>
            <!-- <div class="cover-about"></div> -->
            <img src="{{ img04 }}" class="img-fluid" />
          </article>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 align-self-center">
        <div class="text-center">
          <h4><span>W</span>ORK PROCESS</h4>
          <p class="text-center">
            It is good to love many things, for therein lies the true strength,
            and whosoever loves much performs much, and can accomplish much, and
            what is done in love is well done.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <a><img class="about-card img-fluid mt-5" src="{{ img01 }}" /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a><img class="about-card img-fluid" src="{{ img02 }}" /></a>
      </div>
      <div class="col-md-6 align-self-center">
        <div class="text-center">
          <h4><span>V</span>IEW OUR WORKS</h4>
          <p class="text-center">
            A painter should begin every canvas with a wash of black, because all things in nature are dark except where exposed by the light.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
