<footer>
    <div class="container small-sm">
        <div class="row">
            <div class="col-md-3">
                <a><img></a>
                <p>Lorem ipsum dolor sit amet, cset tur adipiscingerat rutrum to the next side</p>
            </div>
            <div class="col-md-2 footer-element">
                <h6>Address</h6>
                <a>319 Clematis St.Suite, 100 WPB, FL 33401</a>
            </div>
            <div class="col-md-2 col-md-offset-1 footer-element">
                <h6>Contact us</h6>
                <a>tel. +38 098 236 75 36</a>
                <a>e-mail info@mevo.com</a>
            </div>
            <div class="col-md-3 col-md-offset-1 footer-element">
                <h6>Follow us</h6>
                <div class="follow">
                    <a class="element"><img src="https://img.icons8.com/android/21/000000/twitter.png"/></a>
                    <a class="element"><img src="https://img.icons8.com/metro/21/000000/instagram-new.png"/></a>
                    <a class="element"><img src="https://img.icons8.com/metro/21/000000/facebook-new--v2.png"/></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                     <a>© 2017 All rights reserved. Development with </a>Ecommerce</div>
            </div>
        </div>
    </div>
</footer>