footer {
    padding: 45px 0;
    border-top: 1px solid #e3e3e3;
    position: relative;
    z-index: 1;
    background: #fff;
}

.footer-element {
    margin-left: 40px;
}

a, p {
    text-decoration: none;
    color: #989898!important;
    font-size: 13px;
}

.copyright {
    margin-top: 23px;
}

h6{
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.follow .element{
    margin-top: 10px;
    margin-right: 13px;
    cursor: pointer;
}