<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!------ Include the above in your HEAD tag ---------->

<nav style="padding: 3px 6px; height: 60px;" class="navbar navbar-icon-top navbar-expand-lg navbar-light  sticky-top">
  <a class="navbar-brand" href="">
    <img src="/../../../assets/logo2.png" width="50" height="25">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">
          <i class="fa fa-home"><span>Home</span></i> 
        </a>
      </li>
      <li class="nav-item">
        <a *ngIf="!isAdmin" class="nav-link" href="/cart">
          <i class="fa fa-shopping-cart"><span>Cart</span></i> 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!isAdmin" href="/order">
          <i class="fa fa-archive"><span>Order</span></i> 
        </a>
      </li>
      <li class="nav-item">
        <a *ngIf="isAdmin" class="nav-link " href="/orders">
          <i class="fa fa-archive"><span>Orders</span></i> 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/about">
          <i class="fa fas fa-info-circle"><span>About</span></i>
        </a>
      </li>
    </ul>
    
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" [href]="root" (click)=" onClick()">
          <i [class]="iconClass"></i>
          {{action}}
        </a>
      </li>
      <li class="nav-item" (click)="logOut()">
        <a *ngIf="user" class="nav-link" href="/login">
          <i class="fas fa-sign-out-alt fa-lg"></i>
          Sign out
        </a>
      </li>
    </ul>
  </div>
</nav>