<div class="container">
    <div class="row">
        <div class="col-12 product-header text-center">
            <h2 class="text-uppercase mt-3">Add product</h2>
            <p>We have art in order not to die of the truth.</p>
        </div>
        <div class="col-12 align-self-center">
            <div id="addProductForm" class="text-center">
                <div class="form-group">
                    <label for="">Title</label>
                    <input placeholder="Enter product title" (keydown)="checkTitle()" required class="form-control"
                        type="text" [(ngModel)]="title">
                    <span class="text-danger">{{titleError}}</span>
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input placeholder="Enter product price" min="0" (keydown)="checkPrice()" value="0" required
                        class="form-control" [(ngModel)]="price" type="number" name="price">
                    <span class="text-danger">{{priceError}}</span>
                </div>
                <div class="form-group">
                    <label for="">Details</label>
                    <textarea placeholder="Enter product details" (keydown)="checkDetails()" required
                        class="form-control" [(ngModel)]="details" name="" id="" cols="30" rows="7"></textarea>
                    <span class="text-danger">{{detailsError}}</span>
                </div>
                <div class="form-group product-image">

                    <mat-card class="example-card">
                        <form [formGroup]="galleryForm">
                            <mat-form-field class="example-full-width">
                                <ngx-mat-file-input formControlName="imageFile" placeholder=""
                                    [errorStateMatcher]="matcher">
                                </ngx-mat-file-input>
                                <button style="background-color: black; color: white;" type="submit" mat-flat-button
                                    color="primary">
                                    <mat-icon>upgrade</mat-icon>Product Image
                                </button>
                            </mat-form-field>
                        </form>
                    </mat-card>
                    <span *ngIf="galleryForm.invalid == true">
                        <span *ngIf="imagerr" class="text-danger">Please
                            upload product image</span>
                    </span>
                </div>
                <div class="form-group">
                    <a class="btn-1" (click)="addProduct($event)" name="add-product">
                        Add Product
                    </a>
                </div>
                <div *ngIf="isAdded != null">
                    <div *ngIf="isAdded" class="alert alert-success" role="alert">
                        Product has been added successfully
                    </div>
                    <div *ngIf="!isAdded" class="alert alert-danger" role="alert">
                        {{addProductError}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>