<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Login</h2>
                <form [formGroup]="myForm" method="post" action="">

                    <div >
                        <input class="input--style-3 js-datepicker" type="email" formControlName="email"
                            placeholder="Email" name="Email">

                        <p *ngIf="myForm.controls.email.errors" class="alert ">

                            <span *ngIf="myForm.controls.email.errors.pattern" class="alert-danger">
                                invalid email
                            </span>
                            <span *ngIf="myForm.get('email').errors?.serverError" class="alert-danger">
                                {{myForm.get('email').errors?.serverError}}
                            </span>
                        </p>

                    </div>
                    <hr class="input-group">

                    <div>
                        <input class="input--style-3" type="password" formControlName="password" placeholder="Password"
                            name="Password">
                        <p *ngIf="myForm.controls.password.errors" class="alert ">

                            <span *ngIf="myForm.controls.password.errors.minlength" class="alert-danger">
                                length must be more than 6
                            </span>
                        </p>
                    </div>
                    <hr class="input-group">

                    <div class="p-t-10">
                        <button class="btn" type="submit" (click)="Login()"
                            [disabled]="!myForm.valid">Login</button>
                    </div>
                </form>
                <p class="p" (click)="register()">create new account</p>
            </div>
        </div>
    </div>
</div>