
<div class="container-fluid">
    <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="account-settings">
                <div class="user-profile">
                    <div class="user-avatar">
                        <img [src]="url?url:'https://bootdey.com/img/Content/avatar/avatar7.png'" alt="Maxwell Admin">
                    </div>
                    <form >
                    <input style="display: none"  type="file" (change)="onFileChanged($event)"
                    #fileInput>
                  <button class="btn btn-primary" (click)="fileInput.click()">Change pic</button>
                </form>
                    <h5 class="user-name">{{userInfo.username}}</h5>
                    <div>{{userInfo.email}}</div>
                    <div>{{userInfo.gender}}</div>
                    
                    <a class ="delete"(click)="DeleteUser()"> Delete account </a>
                </div>
               
            </div>
        </div>
    </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <form [formGroup]="myForm">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">Update Personal Details</h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                   
                    <div class="form-group">
                        <label for="fullName">Username</label>
                        <input type="text" class="form-control" formControlName="username" id="fullName" placeholder="Enter username">
                    </div>
                   
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                   
                    <div class="form-group">
                        <label for="eMail">Email</label>
                        <input type="email" class="form-control" id="eMail" formControlName="email" placeholder="Enter email ">
                    </div>
                    
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="phone">Password</label>
                        <input type="password" class="form-control" id="phone"formControlName="password" placeholder="Enter password">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                    <label>Gender  </label>  <br>
                     <select class="select-dropdown" class="form-control" formControlName="gender">
                          <option disabled="disabled" selected >Gender</option>
                          <option >Male</option>
                          <option>Female</option>
                      </select>
                                            
                  </div>
            </div>
        </form>
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right">
                        <button type="button" id="submit" name="submit" class="btn btn-secondary"(click)="Cancel()">Cancel</button>
                        <button type="button" id="submit" name="submit" class="btn btn-primary" (click)=" updateInfo()">Update</button>
                    </div>
                </div>
            </div>

           
    </div>
    </div>
    </div>
<div class="flex">
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 order">
        <div class="card h-100">
            <div class="card-body">
            <div class="row gutters">
               
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mt-3 mb-2 text-primary">My Orders</h6>
                </div>
                
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                   <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr scope="row">
                            <th scope="col">Order number</th>
                            <th scope="col">Order status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr scope="row" *ngFor="let order of orders">
                            <td><strong>{{order._id}}</strong></td>
                            <td>{{order.status}}</td>
                            
                          </tr>
                  
                        </tbody>
                      </table>
                      </div>
                </div>
        </div>
        </div>
        </div>
    </div>
    </div>
</div>

