/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "PTS";
    src: url(./assets/fonts/PTSerifCaption-Regular.ttf);
}
*{
    font-family:  PTS, monospace, sans-serif;
    box-sizing: border-box;
}