/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "PTS";
    src: url(./assets/fonts/PTSerifCaption-Regular.ttf);
}
*{
    font-family:  PTS, monospace, sans-serif;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
